<table mat-table [dataSource]="flights" matSort>
    <ng-container matColumnDef="idFlight">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>
            No.
        </th>
        <td mat-cell *matCellDef let flight>
            {{flights[0].idFlight}}
        </td>
    </ng-container>
    <ng-container matColumnDef="companyName">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>
            Company
        </th>
        <td mat-cell *matCellDef let flight>
            {{flights[0].companyName}}
        </td>
    </ng-container>

    <ng-container matColumnDef="flightType">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>
            Flight type
        </th>
        <td mat-cell *matCellDef let flight>
            {{flights[0].flightType}}
        </td>
    </ng-container>

    <ng-container matColumnDef="travelType">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>
            Travel type
        </th>
        <td mat-cell *matCellDef let flight>
            {{flights[0].travelType}}
        </td>
    </ng-container>

    <ng-container matColumnDef="departureLocation">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>
            Departure location
        </th>
        <td mat-cell *matCellDef let flight>
            {{flights[0].departureLocation}}
        </td>
    </ng-container>
    <ng-container matColumnDef="arrivalLocation">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>
            Arrival location
        </th>
        <td mat-cell *matCellDef let flight>
            {{flights[0].arrivalLocation}}
        </td>
    </ng-container>

    <ng-container matColumnDef="departureDate">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>
            Departure date
        </th>
        <td mat-cell *matCellDef let flight>
            {{flights[0].departureDate}}
        </td>
    </ng-container>

    <ng-container matColumnDef="arrivaleDate">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>
            Arrival date
        </th>
        <td mat-cell *matCellDef let flight>
            {{flights[0].arrivaleDate}}
        </td>
    </ng-container>

    <ng-container matColumnDef="backDate">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>
            Back date
        </th>
        <td mat-cell *matCellDef let flight>
            {{flights[0].backDate}}
        </td>
    </ng-container>

    <ng-container matColumnDef="flightDuration">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>
            Flight duration
        </th>
        <td mat-cell *matCellDef let flight>
            {{flights[0].flightDuration}}
        </td>
    </ng-container>

    <ng-container matColumnDef="aircraftType">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>
            Aircraft type
        </th>
        <td mat-cell *matCellDef let flight>
            {{flights[0].aircraftType}}
        </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

</table>